body{
  margin:0;
  font-family:'Poppins',sans-serif;
  background:#ffffff;
  color:#000;
}
/* ALL HEADINGS DARK GREEN */
h1, h2, h3, h4, h5, h6 {
  color: #064d00 !important;
}
.header{
  position:fixed;
  width:100%;
  background:#fff;
  padding:15px 40px;
  box-shadow:0 2px 10px rgba(0,0,0,0.05);
  z-index:1000;
}

.logo img{height:50px;}

.hero{
  padding-top:120px;
  min-height:100vh;
  position:relative;
}

.hero-container{
  display:flex;
  gap:40px;
  padding:50px;
}
.hero-slider{
  flex:1;
  position:relative;
  display:flex;
}

.slide{
  position:absolute;
  width:100%;
  height:100%;
  background-size:cover;      /* image crop but perfect fill */
  background-position:center; /* center aligned */
  border-radius:15px;
  opacity:0;
  transition:opacity 1s ease-in-out;
}

.hero-container{
  display:flex;
  gap:40px;
  padding:50px;
  align-items:stretch;  /* THIS MAKES HEIGHT SAME */
}


.slide.active{opacity:1;}

.hero-form{
  flex:1;
  background:#fff;
  padding:20px;
  border-radius:15px;
  box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.hero-content{
  position:absolute;
  top:30%;
  left:5%;
  max-width:600px;
}

.hero-content h1{font-size:45px;color:#064d00;}
.hero-content h2{font-size:24px;}

.cta-btn{
  display:inline-block;
  padding:14px 28px;
  background:#fff;
  color:#000;
  border:2px solid #d4af37;
  border-radius:8px;
  text-decoration:none;
  margin-top:20px;
  transition:0.3s;
}

.cta-btn:hover{
  background:#d4af37;
  color:#fff;
}

.benefits{padding:100px 50px;}

.benefits-heading{text-align:center;font-size:36px;color:#064d00;}

.benefit-row{padding:60px 0;}

.grey{background:#f3f3f3;}
.white{background:#ffffff;}

.benefit-content{
  display:flex;
  align-items:center;
  gap:40px;
  max-width:1200px;
  margin:auto;
}

.benefit-content.reverse{flex-direction:row-reverse;}

.benefit-content img{width:350px;border-radius:15px;}

.how{
  padding:100px 50px;
  background:#ffffff;
  text-align:center;
}

.steps{
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  margin-top:40px;
}

.step{
  width:18%;
  background:#fff;
  padding:25px;
  border-radius:15px;
  box-shadow:0 5px 20px rgba(0,0,0,0.05);
}

.step img{width:80px;margin-bottom:15px;}

.center{text-align:center;margin-top:40px;}

footer{
  background:#064d00;
  color:#fff;
  padding:40px;
  text-align:center;
}